.elements {
  margin: 0 auto;
  width: 70%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 362px;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1280px) {
  .elements {
    justify-content: center;
  }
}

.element {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;

}

.element__image {
  display: block;
  width: 100%;
  max-width: 282px;
  max-height: 282px;
  object-fit: cover;
}

.element__desc {
  display: flex;
  justify-content: space-between;
  padding: 25px 21px 26px 21px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  background-color: #FFFFFF;

}
.element__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;

}

.element__like {
  background-image: url(../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  margin-top: 4px;
  background-color: #FFFFFF;

  padding-right: 5px;
}

.element__like:hover {
  opacity: .5;
}

